[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-core = "*"
ansible-lint = "*"

[dev-packages]
ansible = "*"
ansible-lint = "*"
ansible-dev-tools = "*"

[requires]
python_version = "3.12"

[scripts]
ansible-galaxy-freeze = "ansible-playbook -i inventory playbook.yml -D -l local"
ansible-galaxy-install = "ansible-galaxy collection install -r requirements.yml"
